.pContent {
background-color:#D8D8D8;
border:1px solid black;
margin-bottom:2%;
width:100%;
float:left;
}
#pChicken{
background-color:#F4B084;
float:Right;
margin:0px;
padding:0px;
border-bottom:1px solid black;
border-left:1px solid black;
font-weight:bold;
font-family: "Cooper Black";
font-size:125%;
color:#FFFFFF;
width:40%;
padding:5px;
text-align:center;
}
#pBeef{
background-color:#833C0C;
float:Right;
margin:0px;
padding:0px;
border-bottom:1px solid black;
border-left:1px solid black;
font-weight:bold;
font-family: "Cooper Black";
font-size:125%;
color:#FFFFFF;
width:40%;
padding:5px;
text-align:center;
}
#pSushi{
background-color:#1F3B78;
float:Right;
margin:0px;
padding:0px;
border-bottom:1px solid black;
border-left:1px solid black;
font-weight:bold;
font-family: "Cooper Black";
font-size:125%;
color:#FFFFFF;
width:40%;
padding:5px;
text-align:center;
}
h1{
text-align: center;
font-family: "Cooper Black";
height:50px;
padding:0px;
}
body{
padding:10px;
}
section{
clear:right;
padding:10px
}
.row{
width:100%;
}
@media (min-width: 992px) {
  .col-lg-chicken {
    width: 32%;
    background-color:#D8D8D8;
    border:1px solid black;
    float: left;
    margin-right:1%
  }	
  .col-lg-beef {
    width: 32%;
    background-color:#D8D8D8;
    border:1px solid black;
    float: left;
    margin-right:1%;
    margin-left:1%;
  }
  .col-lg-sushi {
    width: 32%;
    background-color:#D8D8D8;
    border:1px solid black;
    float: left;
    margin-left:1%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-chicken {
    background-color:#D8D8D8;
    border:1px solid black;
    float: left;
    margin-right:1%;
    width: 49%;
  }
  .col-md-beef {
    background-color:#D8D8D8;
    border:1px solid black;
    float: left;
    margin-left:1%;
    width: 49%;
  }
  .col-md-sushi {
    background-color:#D8D8D8;
    border:1px solid black;
    float: left;
    width: 100%;
  }
}